<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%5level) %cyan(%-36logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="de.admir" level="debug"/>
    <logger name="reactivemongo" level="error"/>

    <root level="warn">
        <appender-ref ref="console"/>
    </root>
</configuration>
